Repository HOLLCAT/MOSAIC: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_frontend, test_backend

.gitlab-ci.yml:

stages:
  - test_frontend
  - test_backend

test_frontend:
   stage: test_frontend
   image: node:18
   script:
     - cd frontend
     - npm install
     - npm run test
   rules:
     - changes:
         - frontend/**/*

test_backend:
  stage: test_backend
  image: python:3.10-alpine
  script:
    - cd backend
    - pip install -r requirements.txt -q
    - python -m pytest tests/ -p no:cacheprovider -v
  rules:
    - changes:
        - backend/**/*

Fixed login issue and added a router middleware to check if the user is logged. Closes #64
  frontend/package-lock.json
  frontend/package.json
  frontend/src/features/authentication/composables/useLogin.ts
  frontend/src/features/authentication/composables/useRegister.ts
  frontend/src/features/authentication/index.vue
  frontend/src/features/authentication/store/actions.ts
  frontend/src/features/authentication/store/getters.ts
  frontend/src/features/upload/index.vue
  frontend/src/router/index.ts
Due: test_frontend

New: Implemented Organism and Tissue filters for the search page. Fix: error handling
  backend/src/study/schemas.py
  backend/tests/study/router/test_get_studies.py
  backend/tests/study/router/test_get_study.py
  backend/tests/study/router/test_search_studies.py
  frontend/src/features/search/composable/useFilter.ts
  frontend/src/features/search/composable/useSearchResults.ts
  frontend/src/features/search/index.vue
  frontend/src/features/search/store/actions.ts
  frontend/src/features/search/store/getters.ts
  frontend/src/features/search/store/mutations.ts
  frontend/src/features/search/utils/FilterFunctions.ts
  frontend/src/features/search/utils/createFilterFormat.ts
  frontend/src/features/search/utils/filterFormat.ts
  frontend/src/features/search/utils/sortYesrs.ts
  frontend/src/features/search/utils/types.ts
Due: test_frontend, test_backend

File management to allow upload and download of samples in study, Closes #51
  backend/Dockerfile
  backend/docker-compose.yml
  backend/nginx/default.conf
  backend/nginx/nginx.conf
  backend/requirements.txt
  backend/src/app.py
  backend/src/files/__init__.py
  backend/src/files/constants.py
  backend/src/files/exceptions.py
  backend/src/files/models.py
  backend/src/files/router.py
  backend/src/files/schemas.py
  backend/src/files/service.py
  backend/src/files/utils.py
  backend/src/study/models.py
  backend/src/study/router.py
  backend/src/study/schemas.py
  backend/src/study/service.py
  backend/tests/auth/router/test_login.py
  backend/tests/study/test_study_utils.py
Due: test_backend

Added download page and added button to search page. Issue #51
  frontend/src/components/Buttons/DownloadButton.vue
  frontend/src/components/FileInputField.vue
  frontend/src/components/Navbar/SearchBar.spec.ts
  frontend/src/components/Navbar/SearchBar.vue
  frontend/src/components/toasts/DangerToast.vue
  frontend/src/features/authentication/utils/types.ts
  frontend/src/features/search/components/BackToStudiesButton.vue
  frontend/src/features/search/components/DownloadButton.vue
  frontend/src/features/search/components/ResultNotFound.vue
  frontend/src/features/search/components/SampleDownloadTable.vue
  frontend/src/features/search/composable/useSearchResults.ts
  frontend/src/features/search/index.vue
  frontend/src/features/search/store/getters.ts
  frontend/src/features/search/store/mutations.ts
  frontend/src/features/search/store/state.ts
  frontend/src/features/search/utils/downloadFile.ts
  frontend/src/features/search/utils/types.ts
  frontend/src/features/study/components/SampleCard.vue
  frontend/src/features/study/components/SamplesTable.spec.ts
  frontend/src/features/study/components/SamplesTable.vue
  frontend/src/features/study/index.vue
  frontend/src/features/study/store/actions.ts
  frontend/src/features/study/store/getters.ts
  frontend/src/features/upload/components/Samples.vue
  frontend/src/features/upload/utils/types.ts
  frontend/src/router/index.ts
  frontend/src/router/parent.vue
Due: test_frontend

Created the login, logout, and refresh token routes with necessary utilities & services for proper refresh token, Closes #54
  backend/.env.sample
  backend/docker-compose.yml
  backend/nginx/default.conf
  backend/src/app.py
  backend/src/auth/config.py
  backend/src/auth/constants.py
  backend/src/auth/exceptions.py
  backend/src/auth/jwt.py
  backend/src/auth/models.py
  backend/src/auth/router.py
  backend/src/auth/schemas.py
  backend/src/auth/service.py
  backend/src/auth/utils.py
  backend/src/files/constants.py
  backend/src/files/exceptions.py
  backend/src/files/router.py
  backend/src/files/service.py
  backend/src/files/utils.py
  backend/src/study/router.py
  backend/src/study/schemas.py
  backend/src/study/service.py
  backend/tests/auth/router/test_login.py
  backend/tests/study/test_study_utils.py
Due: test_backend

Implemented refresh token for frontend. Issue #54
  frontend/.env.sample
  frontend/env.d.ts
  frontend/src/App.vue
  frontend/src/components/Loading.vue
  frontend/src/components/Navbar/MobileSideMenu.spec.ts
  frontend/src/components/Navbar/NavBar.vue
  frontend/src/composables/useSetUser.ts
  frontend/src/features/authentication/store/actions.ts
  frontend/src/features/authentication/store/getters.ts
  frontend/src/features/authentication/store/mutations.ts
  frontend/src/features/authentication/store/state.ts
  frontend/src/features/authentication/utils/types.ts
  frontend/src/features/search/store/actions.ts
  frontend/src/features/study/store/actions.ts
  frontend/src/features/upload/components/Samples.spec.ts
  frontend/src/features/upload/components/Samples.vue
  frontend/src/features/upload/store/actions.ts
  frontend/src/router/index.ts
  frontend/src/utils/api.ts
  frontend/src/utils/axiosWrapper.ts
Due: test_frontend

Add dashboard. Closes #52
  backend/src/app.py
  backend/src/dashboard/constants.py
  backend/src/dashboard/exceptions.py
  backend/src/dashboard/router.py
  backend/src/dashboard/schemas.py
  backend/src/dashboard/service.py
  backend/src/files/models.py
  backend/src/files/schemas.py
  backend/src/files/service.py
  backend/src/study/schemas.py
  frontend/.env.sample
  frontend/env.d.ts
  frontend/src/App.vue
  frontend/src/components/Navbar/NavBar.vue
  frontend/src/features/dashboard/components/EditStudy.vue
  frontend/src/features/dashboard/components/PendingStudies.vue
  frontend/src/features/dashboard/components/PendingStudiesTab.vue
  frontend/src/features/dashboard/components/SearchBar.vue
  frontend/src/features/dashboard/components/SideBar.vue
  frontend/src/features/dashboard/components/Studies.vue
  frontend/src/features/dashboard/components/StudiesTab.vue
  frontend/src/features/dashboard/components/UserDetails.vue
  frontend/src/features/dashboard/composable/useSearchResults.ts
  frontend/src/features/dashboard/image/OIP.jpg
  frontend/src/features/dashboard/index.vue
  frontend/src/features/dashboard/store/actions.ts
  frontend/src/features/dashboard/store/getters.ts
  frontend/src/features/dashboard/store/index.ts
  frontend/src/features/dashboard/store/mutations.ts
  frontend/src/features/dashboard/store/state.ts
  frontend/src/features/dashboard/utils/Enums.ts
  frontend/src/features/dashboard/utils/types.ts
  frontend/src/features/search/store/actions.ts
  frontend/src/features/search/utils/downloadFile.ts
  frontend/src/features/search/utils/types.ts
  frontend/src/features/study/store/actions.ts
  frontend/src/features/upload/components/Samples.vue
  frontend/src/router/index.ts
  frontend/src/store.ts
Due: test_frontend, test_backend

Backend/unit test/test addition of new features
  backend/tests/dashboard/test_dashboard_router.py
  backend/tests/dashboard/test_dashboard_schemas.py
  backend/tests/dashboard/test_dashboard_service.py
  backend/tests/files/test_files_schames.py
  backend/tests/files/test_files_service.py
  backend/tests/files/test_files_utils.py
Due: test_backend

Fix for Premature Upload Indicator When Uploading File In Dashboard
  frontend/src/components/toasts/DangerToast.vue
  frontend/src/features/dashboard/components/EditStudy.vue
  frontend/src/features/dashboard/components/PendingStudies.vue
  frontend/src/features/dashboard/components/PendingStudiesTab.vue
  frontend/src/features/dashboard/components/StudiesTab.vue
  frontend/src/features/dashboard/components/UploadProgressButton.vue
  frontend/src/features/dashboard/utils/types.ts
  frontend/src/features/upload/components/Samples.vue
Due: test_frontend

Creating Final Frontend Unit Tests
  frontend/src/components/Buttons/DownloadButton.spec.ts
  frontend/src/features/dashboard/components/EditStudy.spec.ts
  frontend/src/features/dashboard/components/PendingStudies.spec.ts
  frontend/src/features/dashboard/components/PendingStudiesTab.spec.ts
  frontend/src/features/dashboard/components/SearchBar.spec.ts
  frontend/src/features/dashboard/components/SideBar.spec.ts
  frontend/src/features/dashboard/components/Studies.spec.ts
  frontend/src/features/dashboard/components/StudiesTab.spec.ts
  frontend/src/features/dashboard/components/UserDetails.spec.ts
  frontend/src/features/search/components/BackToStudiesButton.spec.ts
  frontend/src/features/search/components/DownloadButton.spec.ts
  frontend/src/features/search/components/SampleDownloadTable.spec.ts
Due: test_frontend

Improved input feedback throughout the website. Closes issue #71
  .gitlab-ci.yml
  backend/.dockerignore
  backend/.gitignore
  backend/Dockerfile
  backend/requirements.dev.txt
  backend/src/files/router.py
  backend/src/files/service.py
  backend/src/files/utils.py
  backend/src/study/schemas.py
  backend/tests/files/test_files_service.py
  frontend/public/Beatson.jpg
  frontend/src/components/toasts/DangerToast.spec.ts
  frontend/src/components/toasts/DangerToast.vue
  frontend/src/features/authentication/components/LoginPage.spec.ts
  frontend/src/features/authentication/components/LoginPage.vue
  frontend/src/features/authentication/components/RegisterPage.spec.ts
  frontend/src/features/authentication/components/RegisterPage.vue
  frontend/src/features/authentication/composables/useLogin.ts
  frontend/src/features/authentication/composables/useRegister.ts
  frontend/src/features/authentication/images/M-logo.png
  frontend/src/features/authentication/images/UofG.png
  frontend/src/features/authentication/index.vue
  frontend/src/features/authentication/utils/Validation.ts
  frontend/src/features/authentication/utils/types.ts
  frontend/src/features/dashboard/components/EditStudy.spec.ts
  frontend/src/features/dashboard/components/UploadProgressButton.vue
  frontend/src/features/dashboard/image/OIP.jpg
  frontend/src/features/home/index.vue
  frontend/src/features/search/utils/downloadFile.ts
  frontend/src/features/upload/components/Samples.vue
  frontend/src/features/upload/components/StudyDetails.spec.ts
  frontend/src/features/upload/components/StudyDetails.vue
  frontend/src/features/upload/composables/useUpload.ts
  frontend/src/features/upload/index.vue
  frontend/src/features/upload/utils/types.ts
  frontend/src/stores/authStore.ts
  frontend/src/stores/uploadStudyStore.ts
Due: test_frontend, test_backend

Creating a button that allows the user to download all the matching samples. Closes issue #65
  frontend/src/features/search/components/DownloadButton.vue
  frontend/src/features/search/components/SampleDownloadTable.vue
Due: test_frontend

Added study collaboration feature and audits. Closes #53
  backend/.dockerignore
  backend/docker-compose.yml
  backend/nginx/default.conf
  backend/nginx/nginx.dev.conf
  backend/src/app.py
  backend/src/auth/constants.py
  backend/src/auth/exceptions.py
  backend/src/auth/service.py
  backend/src/dashboard/constants.py
  backend/src/dashboard/exceptions.py
  backend/src/dashboard/router.py
  backend/src/dashboard/schemas.py
  backend/src/dashboard/service.py
  backend/src/study/models.py
  backend/src/study/router.py
  backend/src/study/schemas.py
  backend/src/upload/__init__.py
  backend/src/upload/constants.py
  backend/src/upload/exceptions.py
  backend/src/upload/router.py
  backend/src/upload/schemas.py
  backend/src/upload/service.py
  backend/src/upload/utils.py
  backend/tests/dashboard/test_dashboard_router.py
  backend/tests/upload/test_upload_schames.py
  backend/tests/upload/test_upload_service.py
  backend/tests/upload/test_upload_utils.py
  frontend/src/features/dashboard/components/PendingStudies.vue
  frontend/src/features/dashboard/components/PendingStudiesTab.vue
  frontend/src/features/dashboard/components/StudiesTab.vue
  frontend/src/features/dashboard/composable/useSearchResults.ts
  frontend/src/features/dashboard/image/OIP.jpg
  frontend/src/features/dashboard/index.test.vue
  frontend/src/features/dashboard/store/actions.ts
  frontend/src/features/dashboard/store/getters.ts
  frontend/src/features/dashboard/store/index.ts
  frontend/src/features/dashboard/store/mutations.ts
  frontend/src/features/dashboard/store/state.ts
  frontend/src/router/index.ts
Due: test_frontend, test_backend

Code documentation of frontend and backend
  LICENSE
  README.md
  docs/.gitkeep
  docs/api/.gitkeep
  docs/api/auth_api.md
  docs/api/dashboard_api.md
  docs/api/study_api.md
  docs/api/upload_api.md
  docs/how_it_works/.gitkeep
  docs/how_it_works/backend_flow.md
  docs/how_it_works/frontend_flow.md
  docs/setup/.gitkeep
  docs/setup/quick_start.md
  frontend/README.md
Due: test_frontend

Help page implemented
  frontend/src/features/help/components/HelpCard.spec.ts
  frontend/src/features/help/components/HelpCard.vue
Due: test_frontend
